<div class="hero-unit">
  <h2>Predict</h2>

  <p>Predict future games based on the calculated scores.</p>

  <section class="alert" ng-hide="loaded">
    You need to calculate scores first. Go to <a href="#/strength">Strength</a>
    to do so.
  </section>

  <section ng-show="loaded">
    <h3>Select Teams</h3>
    <select ng-model="teamA">
      <option ng-repeat="(team, score) in scores">{{ team }}</option>
    </select>
    vs
    <select ng-model="teamB">
      <option ng-repeat="(team, score) in scores">{{ team }}</option>
    </select>
  </section>

  <section ng-show="result" class="well">
    <p ng-if="resultDiff > 0">
      <strong>{{ winner }}</strong> is going to win by a margin of
      <strong>{{ resultDiff }}</strong>
      <ng-pluralize count="resultDiff" when="{one: 'goal', other: 'goals'}">.
    </p>

    <p ng-if="resultDiff == 0">
      There is going to be <strong>a draw</strong> between
      <strong>{{ teamA }}</strong> and <strong>{{ teamB }}</strong>.
    </p>
    <small>Exact result: {{ result }}</small>
  </section>
</div>
