<div class="hero-unit">
  <h2>Strength</h2>

  <p>
    Calculate the relative team strength based on the results you entered
    before.
  </p>

  <section ng-show="!loading">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%"></div>
    </div>
    <p class="text-center">
      Enjoy this bunny while you're waiting.<br>

      <img src="images/loadingbunny.jpg" alt="A cute bunny holding a little
      soccer ball under its paw." width="414" height="414">
    </p>
  </section>

  <section ng-show="loaded">
    <h3>Team Ranking</h3>
    <ol>
      <li ng-repeat="(team, score) in data.scores">
        <strong>{{ team }}</strong> ({{ score }})
      </li>
    </ol>

    <h3>Relative Errors</h3>
    <div ng-hide="loading" passy-grid="gridOptions"></div>
  </section>

  <p>
    <button ng-click="calculate()" ng-disabled="loading"
      class="btn" ng-class="{'btn-primary': !loaded}">Refresh</button>
  </p>

</div>
